* {
    font-family: Work Sans;
    margin: 0;
}


/* heading section styles */
.pink {
    color: #FF42A5;
}

.heading-container {
    padding: 39px 0px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}



.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo-image {
    display: flex;
    align-items: center;
}

.logo>img {
    margin-right: 20px;
    margin-left: 60px;
}

.logo>h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 260px;
    height: 56px;

}

.menu-item {
    text-decoration: none;
    fill: #F61C0D;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.menu-item>li {
    margin-left: 50px;
}

.menu-item>li>a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}


.icon-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;

}

.menu-item {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.menu-items>li {
    margin-left: 50px;
}

.menu-items>li>a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

/* heading section end */

/* banner section style */
.banner-container {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.goat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Group\ 14.png');
    background-size: 100%;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.goat-sub {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-title {
    text-align: center;
    font-size: 5.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-pragraph {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 75px;
}

.button-container {
    margin-top: 35px;
    padding-left: 60px;
}

.btn-sign {
    width: 160px;
    height: 65px;
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-right: 10px;
    cursor: pointer;
    border: none;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-go {
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    background: #4EC5F7;

}

/* banner section style end */

/* 2nd banner style */
.banner2-container {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner2-img {
    width: 700px;
}

.gamer {
    text-align: right;
}

.gamer-header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-paragraph {
    margin-bottom: 25px;
    color: #534C64;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
}

.know-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.our-purpose {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.heading {
    color: #534C64;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}
/* Video section style */

.video-container {
    text-align: center;
}

.video-header {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.video-container>p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;
}

/* card style */

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.image-container {
    position: relative;
    border-radius: 16px;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.image-container:hover .play-icon {
    opacity: 1;
    cursor: pointer;
}

.fa-play {
    font-size: 40px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 50%;
}


/* card style end */

/* download section styles */
.download-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 341px;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.play-details {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.downloads {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 800px;
    margin-top: 100px;
}

.big-img {
    width: 634.833px;
    height: 650px;
    margin-top: 200px;
}

.small-img {
    position: relative;
    top: -300px;
    left: -140px;
}

/* games section style */
.games,
.game2 {
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.game-title {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
}

.game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 317px;
    height: 50px;
}

.game:hover {
    cursor: pointer;
    border: 3px solid #FF42A5;
    padding: 5px;
    border-radius: 50px;
    height: 61px;
}

.game:hover .game-title {
    color: #F948B2;
}